.body {
  margin-top: 8%;
  min-width: 100%;
  height: -webkit-fill-available;
  position: absolute;
  border-radius: 20px 20px 0px 0px;
  background: #ffffff;
  box-shadow: 0px -16px 40px rgba(0, 0, 0, 0.2);

  &_activated {
    margin-top: 75%;
    height: 525px;
  }
}
