.body {
  position: fixed;
  min-width: 100%;
  height: -webkit-fill-available;
  margin-top: 8%;
  border-radius: 20px 20px 0 0;
  background: #fff;
  box-shadow: 0 -16px 40px rgba(0, 0, 0, 0.2);

  &_activated {
    position: absolute;
    height: 525px;
    margin-top: 75%;
  }
}
