.header {
  padding: 28px 0;
  font-family: Barlow;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #999999;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f3f3f3;
  border-radius: 4px;
  margin: 0 auto;
  height: 40px;
  width: 90%;

  &__input {
    padding: 0;
    border: 0;
    margin: 0 12px 0 15px;
    width: -webkit-fill-available;
    background: #f3f3f3;
    outline: none;
    font-family: Barlow;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  &__location-icon {
    margin-right: 15px;
    height: 16px;
    min-width: 11px;
  }
}

.field {
  position: relative;
  height: 80px;
  background: linear-gradient(180deg, #ffffff 55.7%, rgba(255, 255, 255, 0) 100%);
  z-index: 2;
}

.list-box {
  position: relative;
  overflow-y: scroll;
  box-sizing: border-box;
  margin: -40px auto 0;
  width: 90%;
  height: calc(100% - 112px - 40px);
  z-index: 1;
}

.cities {
  position: relative;
  text-align: left;
  letter-spacing: -0.05em;
  z-index: 1;

  &__group {
    padding: 9px 15px;
    font-family: Barlow;
    font-weight: 300;
    font-size: 40px;
    line-height: 48px;
    color: #aaaaaa;
  }
}

.city {
  display: flex;
  justify-content: space-between;
  padding: 9px 15px;

  &_active {
    display: flex;
    justify-content: space-between;
    padding: 9px 15px;
    background: #ecf7fd;
    border-radius: 4px;
  }

  &__name {
    font-family: Barlow;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #444444;
    cursor: pointer;

    &_active {
      font-family: Barlow;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: -0.05em;
      color: #000000;
    }
  }

  &__temp {
    text-align: right;
    font-family: Barlow;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #666666;
  }
}
